@inject IConfiguration configuration

@page "/"

<PageTitle>Home</PageTitle>



<div class="container-md">
	<p>@configuration["FunctionHostUrl"]</p>
	<p></p>
	<h1>Welcome to The Wag!</h1>
	<p>
		The Wag is a friendly online store that sells dog photos, check out our <NavLink href="catalog">catalog!</NavLink>
	</p>
	<p>
		Need to put kibble on the table? Head over to the <NavLink href="sell">sell</NavLink> page and put your dog to work!
	</p>
	<p><img class="img-fluid" src="images/thewaglogo.png" /></p>
</div>


